USE [master]
GO
/****** Object:  Database [NewspaperReadingApp]    Script Date: 13/06/2022 10:15:26 CH ******/
CREATE DATABASE [NewspaperReadingApp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NewspaperReadingApp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NewspaperReadingApp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NewspaperReadingApp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\NewspaperReadingApp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NewspaperReadingApp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NewspaperReadingApp]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[id_articles] [int] NOT NULL,
	[title] [nvarchar](1000) NOT NULL,
	[content_articles] [nvarchar](max) NOT NULL,
	[id_user] [int] NOT NULL,
	[status] [nvarchar](90) NOT NULL,
	[date_submitted] [date] NOT NULL,
	[image] [varchar](1000) NULL,
	[views] [int] NULL,
	[trangThaiXoa] [int] NULL,
 CONSTRAINT [PK_Articles] PRIMARY KEY CLUSTERED 
(
	[id_articles] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Author_favorite]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author_favorite](
	[id_favorite] [int] NOT NULL,
	[id_author] [int] NOT NULL,
	[id_User] [int] NOT NULL,
 CONSTRAINT [PK_Author_favorite] PRIMARY KEY CLUSTERED 
(
	[id_favorite] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[id_category] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[id_comment] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[id_articles] [int] NOT NULL,
	[content_comment] [nvarchar](1000) NOT NULL,
 CONSTRAINT [PK_Comment] PRIMARY KEY CLUSTERED 
(
	[id_comment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[History]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[History](
	[id_articles] [int] NOT NULL,
	[id_user] [int] NOT NULL,
	[datetime_seen] [datetime] NOT NULL,
 CONSTRAINT [PK_History] PRIMARY KEY CLUSTERED 
(
	[id_articles] ASC,
	[id_user] ASC,
	[datetime_seen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QLTLBV]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QLTLBV](
	[id_QL] [int] NOT NULL,
	[id_articles] [int] NOT NULL,
	[id_category] [int] NOT NULL,
 CONSTRAINT [PK_Management_Articles_Category] PRIMARY KEY CLUSTERED 
(
	[id_QL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RefreshToken]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RefreshToken](
	[Id] [uniqueidentifier] NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [nvarchar](max) NULL,
	[JwtId] [nvarchar](max) NULL,
	[IsUsed] [bit] NOT NULL,
	[IsRevoked] [bit] NOT NULL,
	[IssuedAt] [datetime2](7) NOT NULL,
	[ExpiredAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_RefreshToken] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[id_user] [int] NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[gender] [int] NULL,
	[phone] [varchar](11) NULL,
	[email] [varchar](50) NULL,
	[avata] [varchar](1000) NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[role] [int] NOT NULL,
	[status] [int] NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Articles] ([id_articles], [title], [content_articles], [id_user], [status], [date_submitted], [image], [views], [trangThaiXoa]) VALUES (2, N'Tiêu đề ', N'Sách này là sách', 1, N'hoàn thành', CAST(N'2022-04-28' AS Date), N'anh1', 111, 1)
INSERT [dbo].[Articles] ([id_articles], [title], [content_articles], [id_user], [status], [date_submitted], [image], [views], [trangThaiXoa]) VALUES (4, N'đắc nhân tâm', N'Đắc Nhân Tâm một cuốn sách hay về nghệ thuật sống. Tôi biết đến cuốn sách này khi còn là một cậu học sinh cấp 3. Ngày trước, niềm đam mê đọc sách của tôi chưa có. Một ngày tôi được cô bạn ngồi kế bên hỏi: “Ông đọc cuốn sách Đắc Nhân Tâm chưa, cuốn đó hay lắm. Nó sẽ giúp ông rất nhiều thứ đó”.', 1, N'hoàn thành', CAST(N'2022-04-29' AS Date), N'string', 13, 1)
GO
INSERT [dbo].[Author_favorite] ([id_favorite], [id_author], [id_User]) VALUES (1, 1, 2)
INSERT [dbo].[Author_favorite] ([id_favorite], [id_author], [id_User]) VALUES (2, 6, 2)
INSERT [dbo].[Author_favorite] ([id_favorite], [id_author], [id_User]) VALUES (3, 3, 3)
GO
INSERT [dbo].[Category] ([id_category], [title]) VALUES (6, N'Công nghệ')
INSERT [dbo].[Category] ([id_category], [title]) VALUES (7, N'Chính trị')
INSERT [dbo].[Category] ([id_category], [title]) VALUES (8, N'Tài Chính')
GO
INSERT [dbo].[Comment] ([id_comment], [id_user], [id_articles], [content_comment]) VALUES (4, 2, 3, N'hay lắm bạn ơi')
INSERT [dbo].[Comment] ([id_comment], [id_user], [id_articles], [content_comment]) VALUES (5, 1, 3, N'quá là hay!')
INSERT [dbo].[Comment] ([id_comment], [id_user], [id_articles], [content_comment]) VALUES (6, 2, 9, N'quá bất ngờ!')
GO
INSERT [dbo].[History] ([id_articles], [id_user], [datetime_seen]) VALUES (10, 13, CAST(N'2022-06-13T10:21:55.650' AS DateTime))
INSERT [dbo].[History] ([id_articles], [id_user], [datetime_seen]) VALUES (10, 13, CAST(N'2022-06-13T10:22:04.270' AS DateTime))
INSERT [dbo].[History] ([id_articles], [id_user], [datetime_seen]) VALUES (11, 14, CAST(N'2022-06-13T21:34:52.387' AS DateTime))
GO
INSERT [dbo].[QLTLBV] ([id_QL], [id_articles], [id_category]) VALUES (3, 9, 8)
INSERT [dbo].[QLTLBV] ([id_QL], [id_articles], [id_category]) VALUES (6, 10, 9)
INSERT [dbo].[QLTLBV] ([id_QL], [id_articles], [id_category]) VALUES (7, 11, 6)
GO
INSERT [dbo].[RefreshToken] ([Id], [UserId], [Token], [JwtId], [IsUsed], [IsRevoked], [IssuedAt], [ExpiredAt]) VALUES (N'b62e1397-aded-4211-9149-03abf82a5337', 1, N'UVAvpDpvxho7nH2pHTm05wL5kFFGok6FLfls9128+hQ=', N'ca41b93b-794b-4d27-a87f-69cf57e0add8', 0, 0, CAST(N'2022-05-17T08:20:57.4060481' AS DateTime2), CAST(N'2022-05-17T09:20:57.4061033' AS DateTime2))
INSERT [dbo].[RefreshToken] ([Id], [UserId], [Token], [JwtId], [IsUsed], [IsRevoked], [IssuedAt], [ExpiredAt]) VALUES (N'e609571d-05ca-4279-bdae-1efc41db2d2a', 1, N'YxEfemzYiP0spfKGj8UYXrayNMY+5UcTayAvMQY42xg=', N'fd60a780-64cf-4421-a84e-9339acd05385', 0, 0, CAST(N'2022-05-18T05:27:11.6124554' AS DateTime2), CAST(N'2022-05-18T06:27:11.6125231' AS DateTime2))
INSERT [dbo].[RefreshToken] ([Id], [UserId], [Token], [JwtId], [IsUsed], [IsRevoked], [IssuedAt], [ExpiredAt]) VALUES (N'1e5ebd09-f26f-42c7-8e00-4577b3be5d42', 1, N'YpIMvzeOkN3JPsOPPD/ayMzySxZOivMfC4bm9237Isg=', N'b7c6664c-82b3-4f46-a956-7a42b19b9fea', 0, 0, CAST(N'2022-05-17T08:08:29.9542553' AS DateTime2), CAST(N'2022-05-17T09:08:29.9542555' AS DateTime2))
GO
INSERT [dbo].[User] ([id_user], [name], [gender], [phone], [email], [avata], [username], [password], [role], [status]) VALUES (1, N'nguyenHuyenDiuLala', 0, N'0356476980', N'huyendiusmilef5@gmail.com', N'http://res.cloudinary.com/ds2tbtsxd/image/upload/v1654781553/npgzl4hvp3mexl8rvapn.png', N'huyendiu', N'svkLRj9nYEgZo7gWDJD5IQ==', 0, 0)
INSERT [dbo].[User] ([id_user], [name], [gender], [phone], [email], [avata], [username], [password], [role], [status]) VALUES (2, N'Nguyen Ta Huy', 0, N'0356476981', N'nguyentahuy2013@gmail.com', N'http://res.cloudinary.com/ds2tbtsxd/image/upload/v1654334178/fxqtniufqjwe7omwgs0e.jpg', N'huy', N'svkLRj9nYEgZo7gWDJD5IQ==', 0, 0)
INSERT [dbo].[User] ([id_user], [name], [gender], [phone], [email], [avata], [username], [password], [role], [status]) VALUES (3, N'huy (writer)', 0, N'0111111111', N'nguyenhuy@gmail.com', N'http://res.cloudinary.com/ds2tbtsxd/image/upload/v1654935435/wri6rzabfpfhwvibkjs5.jpg', N'huy123', N'svkLRj9nYEgZo7gWDJD5IQ==', 1, 0)
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF_Articles_date_submitted]  DEFAULT (getdate()) FOR [date_submitted]
GO
ALTER TABLE [dbo].[Articles] ADD  CONSTRAINT [DF_Articles_trangThaiXoa]  DEFAULT ((0)) FOR [trangThaiXoa]
GO
ALTER TABLE [dbo].[History] ADD  CONSTRAINT [DF_History_datetime_seen]  DEFAULT (getdate()) FOR [datetime_seen]
GO
ALTER TABLE [dbo].[Author_favorite]  WITH CHECK ADD  CONSTRAINT [FK_Author_favorite_User] FOREIGN KEY([id_author])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Author_favorite] CHECK CONSTRAINT [FK_Author_favorite_User]
GO
ALTER TABLE [dbo].[Author_favorite]  WITH CHECK ADD  CONSTRAINT [FK_Author_favorite_User1] FOREIGN KEY([id_User])
REFERENCES [dbo].[User] ([id_user])
GO
ALTER TABLE [dbo].[Author_favorite] CHECK CONSTRAINT [FK_Author_favorite_User1]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_Articles] FOREIGN KEY([id_articles])
REFERENCES [dbo].[Articles] ([id_articles])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_Articles]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK_Comment_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK_Comment_User]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_Articles] FOREIGN KEY([id_articles])
REFERENCES [dbo].[Articles] ([id_articles])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_Articles]
GO
ALTER TABLE [dbo].[History]  WITH CHECK ADD  CONSTRAINT [FK_History_User] FOREIGN KEY([id_user])
REFERENCES [dbo].[User] ([id_user])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[History] CHECK CONSTRAINT [FK_History_User]
GO
ALTER TABLE [dbo].[QLTLBV]  WITH CHECK ADD  CONSTRAINT [FK_QLTLBV_Articles] FOREIGN KEY([id_articles])
REFERENCES [dbo].[Articles] ([id_articles])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QLTLBV] CHECK CONSTRAINT [FK_QLTLBV_Articles]
GO
ALTER TABLE [dbo].[QLTLBV]  WITH CHECK ADD  CONSTRAINT [FK_QLTLBV_Category] FOREIGN KEY([id_category])
REFERENCES [dbo].[Category] ([id_category])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[QLTLBV] CHECK CONSTRAINT [FK_QLTLBV_Category]
GO
ALTER TABLE [dbo].[RefreshToken]  WITH CHECK ADD  CONSTRAINT [FK_RefreshToken_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([id_user])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[RefreshToken] CHECK CONSTRAINT [FK_RefreshToken_User]
GO
/****** Object:  StoredProcedure [dbo].[countNumberfavourite]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[countNumberfavourite]
@ID_USER INT
AS
BEGIN
 DECLARE @number_of_authors_I_follow INT 
 SELECT @number_of_authors_I_follow = COUNT(ID_FAVORITE) FROM [DBO].[AUTHOR_FAVORITE] WHERE id_User = @ID_USER GROUP BY id_User

 DECLARE @number_of_people_watching INT
 SELECT @number_of_people_watching = COUNT(ID_FAVORITE) FROM [DBO].[AUTHOR_FAVORITE] WHERE id_author = @ID_USER GROUP BY id_author

 SELECT ISNULL(@number_of_authors_I_follow , 0) as number_of_authors_I_follow , ISNULL(@number_of_people_watching,0) as number_of_people_watching
END
GO
/****** Object:  StoredProcedure [dbo].[deleteHistory]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteHistory]
@ID_USER INT
AS
BEGIN
DELETE FROM [dbo].[History] WHERE History.id_user= @ID_USER
END
GO
/****** Object:  StoredProcedure [dbo].[deleteHistoryById]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[deleteHistoryById]
@ID_USER INT, @ID_ARTICLES INT, @DATE nvarChar(100)
AS
BEGIN
DELETE FROM [dbo].[History] WHERE History.id_user= @ID_USER AND History.id_articles= @ID_ARTICLES AND History.datetime_seen = @DATE
END
GO
/****** Object:  StoredProcedure [dbo].[get_QLTLBV_of_Article]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[get_QLTLBV_of_Article]
@id_articles int
as
begin

select * from [dbo].[QLTLBV] where [dbo].[QLTLBV].id_articles = @id_articles
end
GO
/****** Object:  StoredProcedure [dbo].[getAllCategory]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getAllCategory]
as
begin
select * from [dbo].[Category]
end
GO
/****** Object:  StoredProcedure [dbo].[getHistoryArticles]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getHistoryArticles]
@ID_USER INT
AS
BEGIN
	SELECT Art.title as title, His.datetime_seen as datetime_seen
	FROM  Articles as Art, History as His
	WHERE Art.id_articles = His.id_articles AND His.id_user = @ID_USER
END
GO
/****** Object:  StoredProcedure [dbo].[getListArticles]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getListArticles]
as
begin
select * from Articles where Articles.trangThaiXoa = 0
end
GO
/****** Object:  StoredProcedure [dbo].[getListArticlesOfCategory]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getListArticlesOfCategory]
@ID_CATEGORY INT
AS
BEGIN
 SELECT AR.ID_ARTICLES AS ID FROM [DBO].[ARTICLES] AS AR , [DBO].[QLTLBV] AS QL WHERE QL.ID_CATEGORY = @ID_CATEGORY  AND AR.ID_ARTICLES = QL.ID_ARTICLES
END
GO
/****** Object:  StoredProcedure [dbo].[getListArticlesPageSize]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getListArticlesPageSize]
@PAGE INT , @PAGESIZE INT
AS
BEGIN
SELECT * FROM [dbo].[Articles]
WHERE [dbo].[Articles].trangThaiXoa = 0 
ORDER BY [dbo].[Articles].id_articles
OFFSET ((@PAGE -1) * @PAGESIZE) ROWS
FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[getListUser]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getListUser]
as
begin
select * from [dbo].[User] where [dbo].[User].status = 0
end
GO
/****** Object:  StoredProcedure [dbo].[getListUserPageSize]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getListUserPageSize]
@PAGE INT , @PAGESIZE INT
AS
BEGIN
SELECT * FROM [DBO].[USER] 
WHERE [DBO].[USER].STATUS = 0 
ORDER BY [DBO].[USER].ID_USER
OFFSET ((@PAGE -1) * @PAGESIZE) ROWS
FETCH NEXT @PAGESIZE ROWS ONLY;
END
GO
/****** Object:  StoredProcedure [dbo].[getTopNew]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getTopNew]
AS
BEGIN
SELECT TOP 10 * FROM [dbo].[Articles] WHERE [dbo].[Articles].trangThaiXoa =0 ORDER BY [dbo].[Articles].date_submitted DESC
END
GO
/****** Object:  StoredProcedure [dbo].[getTopView]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getTopView]
AS
BEGIN
SELECT TOP 3 * FROM [dbo].[Articles] WHERE [dbo].[Articles].trangThaiXoa =0 ORDER BY [dbo].[Articles].views DESC
END
GO
/****** Object:  StoredProcedure [dbo].[list_author_favourite]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[list_author_favourite]
@ID_USER INT
AS
BEGIN
SELECT US.id_user, US.name,US.gender,US.phone, US.email, US.avata, US.username, US.role FROM [dbo].[Author_favorite] AS AF , [dbo].[User] AS US WHERE AF.id_User= @ID_USER AND AF.id_author = US.id_user
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCH_ARTICLES_BY_ID_CATEGORY]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SEARCH_ARTICLES_BY_ID_CATEGORY]
@ID INT
AS
BEGIN
SELECT AR.ID_ARTICLES, AR.TITLE, AR.CONTENT_ARTICLES, AR.ID_USER,AR.STATUS, AR.DATE_SUBMITTED, AR.IMAGE,AR.VIEWS FROM [DBO].[ARTICLES] AS AR, [DBO].[QLTLBV] AS QL WHERE QL.ID_CATEGORY = @ID AND QL.ID_ARTICLES = AR.ID_ARTICLES
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCH_ARTICLES_BY_TITLE]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SEARCH_ARTICLES_BY_TITLE]
@INPUT NVARCHAR(100)
AS
BEGIN
SELECT * FROM [DBO].[ARTICLES] WHERE [DBO].[ARTICLES].TITLE LIKE '%'+@INPUT +'%'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_getAllCommentArticles]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[sp_getAllCommentArticles]
@id_articles int
AS
BEGIN
	SELECT *  FROM [dbo].[Comment] where [dbo].[Comment].id_articles = @id_articles
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_timmaxIdArticles]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_timmaxIdArticles]
AS
BEGIN
	SELECT MAX(id_articles) FROM [dbo].[Articles]
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_timmaxIdAuthFavorite]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[sp_timmaxIdAuthFavorite]
AS
BEGIN
	SELECT MAX(id_favorite) FROM [dbo].[Author_favorite]
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_timmaxIdCategory]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_timmaxIdCategory]
AS
BEGIN
	SELECT MAX(id_category) FROM [dbo].[Category]
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_timmaxIdComment]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_timmaxIdComment]
AS
BEGIN
	SELECT MAX(id_comment) FROM [dbo].[Comment]
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_timmaxIdQLTLBV]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[sp_timmaxIdQLTLBV]
AS
BEGIN
	SELECT MAX(id_QL) FROM [dbo].[QLTLBV]
	
END


GO
/****** Object:  StoredProcedure [dbo].[sp_timmaxIdUser]    Script Date: 13/06/2022 10:15:26 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROC [dbo].[sp_timmaxIdUser]
AS
BEGIN
	SELECT MAX(id_user) FROM [dbo].[User]
	
END


GO
USE [master]
GO
